*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    display: inl;
    justify-content: right;
    gap: 20px;
    padding: 15px 50px
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-display: block;
    color: blueviolet;
    font-size: 400%;
}

.portfolio{
    font-size: 400%;

}

h2{
 font-size: 400%;
 font-style: italic;
}

h3{
    font-size: 200%;
}